h3 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30;
  }
  
  .utama{
    background-image: url('WhatsApp\ Image\ 2023-11-21\ at\ 21.13.56\ \(1\).jpeg');
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
       
    }
    .kembali {
        text-align: center;
    }
        /* Style the form container */
    table {
      border-collapse: collapse;
      width:55%;
      margin: 0 auto;
      background-color: wheat;
      margin-bottom: 25%;
      margin-top: 5%;
   
    }
    
    /* Style table rows */
    tr {
      border-bottom: 1px solid #ddd;
      
    }
    
    /* Style table cel */
    td {
      padding: 10px;
      text-align: left;
    }
    
    /* Style kolom input*/
    input[type="number"],
    input[type="text"],
    input[type="date"] {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    
    /* Style Button simpan */
    input[type="submit"] {
      background-color: goldenrod;
      color: white;
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    /* Style  "Kembali" link */
    a {
      background-color: goldenrod;
      color: white;
      padding: 8px 14px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    /* Style  "Kembali" link on hover */
    a:hover {
      text-decoration: underline;
    }

    